# Ignore build outputs
bin/
obj/
Debug/
Release/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio settings
.vs/

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Other
*.dbmdl
*.jfm
*.pdb
